extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Misael Ruiz

        //- Feel free to personalize the title below
        p Full Stack Javascript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 


      .skills-contact-box.box
        h6 <i class="bi bi-lightbulb"></i> Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        p.mb-0 
          i.bi.bi-telephone.text-primary
          span  619-292-1438
        p.mb-0 
          i.bi.bi-envelope.text-primary
          span  misaruiz@gmail.com
        p.mb-0 
          i.bi.bi-linkedin.text-primary
          a(href='https://www.linkedin.com/in/misaruiz/')  LinkedIn
        p.mb-0 
          i.bi.bi-github.text-primary
          a(href='https://github.com/misaruiz')  GitHub



        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back